@font-face {
<<<<<<< HEAD
  font-family: 'ArchivoBlack';
  src: local('ArchivoBlack'),
    url(https://fonts.googleapis.com/css?family=ArchivoBlack) format('truetype');
}

body, html {
  font-family: 'ArchivoBlack';
  height: 100%
}

=======
  font-family: "ArchivoBlack";
  src: local("ArchivoBlack"),
    url(https://fonts.googleapis.com/css?family=ArchivoBlack) format("truetype");
}

body,
html {
  font-family: "ArchivoBlack";
  height: 100%;
}
body {
  background-image: url("./public/img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
>>>>>>> 411097a79a402695f71ac197566a3e11118dbf58

#appmain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

<<<<<<< HEAD
.counter{
=======
.counter {
>>>>>>> 411097a79a402695f71ac197566a3e11118dbf58
  font-size: 60px;
}

.creatureGif {
  height: 300px;
  width: 300px;
  box-shadow: 3px 3px 5px 6px #ccc;
  margin: auto;
}

@media only screen and (min-width: 800px) {
  #apps {
    flex-direction: row;
  }

  .creatureGif {
    height: 400px;
    width: 400px;
  }
<<<<<<< HEAD
  
  .counter{
=======

  .counter {
>>>>>>> 411097a79a402695f71ac197566a3e11118dbf58
    font-size: 100px;
  }
}

<<<<<<< HEAD

=======
>>>>>>> 411097a79a402695f71ac197566a3e11118dbf58
@media only screen and (min-width: 1200px) {
  .creatureGif {
    height: 500px;
    width: 500px;
  }
<<<<<<< HEAD
  
  .counter{
=======

  .counter {
>>>>>>> 411097a79a402695f71ac197566a3e11118dbf58
    font-size: 120px;
  }
}
